.trip-planning{
    display: flex;
    flex-flow: column nowrap;
    padding: 4rem 2rem;
    text-align: center;
    gap: 2rem;
}

.trip-planning p {
    line-height: 1.8rem;
}

.trip-planning-heading{
    margin: 0 auto;
}

.trip-planning > h1{
    font-size: 1.5rem;
    font-weight: 500;
}

.trip-planning hr{
    width: 3rem;
    height: .2rem;
    border: none;
    background-color: #1679AB;
    border-radius: .2rem;
}

.types-of-trips{
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
    justify-content: center;
}

.types-of-trips h1{
    font-weight: 400;
}

.friends-trip, .corporate-trip, .family-trip{
    display: flex;
    flex-flow: column nowrap;
    min-width: 25%;
    gap: 1rem;
}

.friends-trip > h1{
    color: orangered;
}

.corporate-trip > h1{
    color: #1679AB;
}

.family-trip > h1{
    color: green;
}

.friends-trip div, .corporate-trip div, .family-trip div{
    height: 15rem;
    overflow: hidden;
    border-radius: .5rem;
}

.type-images{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.type-images:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 768px) {
    .types-of-trips{
        flex-flow: column nowrap;
    }
    .friends-trip, .corporate-trip, .family-trip{
        min-width: 100%;
    }
    .trip-planning p{
        text-align: justify;
    }
    .trip-planning{
        background-color: white;
    }
    .corporate-trip > h1{
        color: blue;
    }
    .trip-planning hr{
        display: none;
    }
}